{:lein   {:profile "+ui"}
 :builds
 {:dev
  {:target           :browser
   :output-dir       "target/public"
   :asset-path       "/js"
   :modules          {:main
                      {:init-fn com.rpl.agent-o-rama.ui/init}}
   :compiler-options {:optimizations :none
                      :source-map    true}
   :devtools         {:http-root "target/public"
                      :http-port 3001
                      ;; :before-load chat-rama.frontend.core/stop
                      ;; :after-load  chat-rama.frontend.core/start
                     }}
  :frontend
  {:target           :browser
   :modules          {:main {:init-fn com.rpl.agent-o-rama.ui/init}}
   :output-dir       "resource/public/"
   :compiler-options
   {:optimizations :advanced :infer-externs :auto :source-map true}}

  :test
  {:target    :node-test
   :output-to "target/test/test.js"
   :autorun   true
   :ns-regexp "-test$"
   :dev-tools {:preloads [com.rpl.agent-o-rama.ui.dom]}
   :esm       true}}
 :nrepl  {:middleware [cider.nrepl/cider-middleware]
          :port       61000}}
