{:config-paths ["../resource/clj-kondo.exports/com.rpl/agent-o-rama"]
 :lint-as
 {com.rpl.agent-o-rama/defagentmodule clojure.core/defn
  uix.core/defui clojure.core/defn
  com.rpl.agent-o-rama.ui.trace-analytics-e2e-test/with-agent-env clojure.core/let}
 :hooks
 {:analyze-call
  {com.rpl.agent-o-rama.ui.etaoin-test-helpers/with-webdriver
   hooks.trace-analytics-e2e-test/with-webdriver
   com.rpl.agent-o-rama.ui.etaoin-test-helpers/with-system
   hooks.etaoin-test-helpers/with-system}}}
